rect {
  fill: none;
  pointer-events: all;
}

.node {    
    fill: rgb(255, 254, 254);
    stroke: black;
    stroke-width: 1px;
}
/*   
.node text {
  pointer-events: none;
  font: 10px sans-serif;
} */

.cursor {
  fill: none;
  stroke: brown;
  pointer-events: none;
}

#info {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;
}

#error{
  display: none;
  justify-content: center;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.show{
  display: flex !important;
}

.link {
  stroke: #f70000;
  stroke-width: 2px;
}
.btn{
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

#code{
  margin: 0;
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.innerContainer{
  width: 300px;
  display: flex;
  margin: auto;
  margin-bottom: 10px;
}
